body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #333;
}

.buttons {
    margin-top: 20px;
}

button {
    display: inline-flex;
    align-items: center;
    padding: 15px 25px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    transition: background-color 0.3s;
}

button img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

.resultado {
    margin-top: 30px;
    font-size: 20px;
    color: #333;
}

#animacao {
    display: none; /* Oculta a animação inicialmente */
    margin-top: 20px;
    font-size: 24px;
    color: #FF5733;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}